---
import MusicPlayer from '@/ui/organisms/MusicPlayer.astro'
---

<div class="grid w-full grid-cols-1 gap-4 md:grid-cols-3">
  <div>
    <h3 class="mb-4 text-lg font-bold">Variante Light (base-100)</h3>
    <div class="mx-auto max-w-sm">
      <MusicPlayer base={100} />
    </div>
  </div>
  <div>
    <h3 class="mb-4 text-lg font-bold">Variante Default (base-200)</h3>
    <div class="mx-auto max-w-sm">
      <MusicPlayer />
    </div>
  </div>
  <div>
    <h3 class="mb-4 text-lg font-bold">Variante Dark (base-300)</h3>
    <div class="mx-auto max-w-sm">
      <MusicPlayer base={300} />
    </div>
  </div>
</div>