---
import StyleGuideLayout from '@/domain/style-guide/layouts/StyleGuideLayout.astro'
import Section from '@/ui/atoms/Section.astro'
---

<StyleGuideLayout title="Style Guide">
  <Section>
    <h2 class="mb-4 text-center text-3xl font-bold">Style Guide</h2>
    <p class="text-center">Utilisez la navigation pour explorer les composants.</p>
  </Section>
</StyleGuideLayout>
