---
import StyleGuideLayout from '@/layouts/StyleGuideLayout.astro'
import BlogCard from '@/components/organisms/BlogCard.astro'
import { getSinglePage } from '@/utils/contentParser.astro'
import { sortByDate } from '@/utils/sortFunctions'
import Section from '@/components/atoms/Section.astro'

const BLOG_FOLDER = 'blog'
const posts = await getSinglePage(BLOG_FOLDER)
const sortedPosts = sortByDate(posts)
const currentPosts = sortedPosts.slice(0, 3)
---

<StyleGuideLayout title="Style Guide | Organisms">
  <Section>
    <h2 class="mb-8 text-center text-3xl font-bold">Blog Cards</h2>
    <div class="mb-8 grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3">
      {
        currentPosts.map(post => (
          <div class="w-full">
            <BlogCard data={post} />
          </div>
        ))
      }
    </div>
  </Section>
</StyleGuideLayout>
