---
import StyleGuideLayout from '@/domain/style-guide/layouts/StyleGuideLayout.astro'
import Section from '@/ui/atoms/Section.astro'
import Divider from '@/ui/atoms/Divider.astro'
import Footer from '@/layouts/partials/Footer.astro'
import TestimonialSection from '@/domain/formation/TestimonialSection.astro'
import HeroSection from '@/domain/shared/sections/HeroSection.astro'
import { getEntry } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const testimonial = (await getEntry(
  'testimonialSection',
  'testimonial'
)) as CollectionEntry<'testimonialSection'>
---

<StyleGuideLayout title="Style Guide | Sections">
  <Section>
    <div id="herosection" class="scroll-mt-[5rem]">
      <Divider variant="default" label="HeroSection" />
    </div>
    <h2 class="sr-only">HeroSection</h2>
    <HeroSection />
  </Section>


  <Section>
    <div id="testimonialsection" class="scroll-mt-[5rem]">
      <Divider variant="default" label="TestimonialSection" />
    </div>
    <h2 class="sr-only">TestimonialSection</h2>
    <TestimonialSection testimonial={testimonial} />
  </Section>


  <Section>
    <div id="calendrier-luma" class="scroll-mt-[5rem]">
      <Divider variant="default" label="Calendrier Luma" />
    </div>
    <h2 class="sr-only">Calendrier Luma</h2>
    <div class="flex justify-center">
      <iframe
        src="https://lu.ma/embed/calendar/cal-Ocr3w6Nc4xGsrHH/events"
        width="100%"
        height="600"
        class="w-full max-w-5xl rounded-md border border-gray-300"
        allowfullscreen
        aria-hidden="false"
        tabindex="0"></iframe>
    </div>
  </Section>


  <Section>
    <div id="footer" class="scroll-mt-[5rem]">
      <Divider variant="default" label="Footer" />
    </div>
    <h2 class="sr-only">Footer</h2>
    <Footer />
  </Section>
</StyleGuideLayout>
