---
import StyleGuideLayout from '@/domain/style-guide/layouts/StyleGuideLayout.astro'
import ComponentGallery from '@/domain/dev/ComponentGallery.astro'
import Section from '@/ui/atoms/Section.astro'
import Footer from '@/layouts/partials/Footer.astro'
import TestimonialSection from '@/domain/formation/TestimonialSection.astro'
import { getEntry } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

const testimonial = (await getEntry(
  'testimonialSection',
  'testimonial'
)) as CollectionEntry<'testimonialSection'>

const modules = import.meta.glob('@/domain/shared/sections/**/*.astro', { eager: true })

const extra = [
  { name: 'Footer', Component: Footer },
  { name: 'TestimonialSection', Component: TestimonialSection, props: { testimonial } },
]
---

<StyleGuideLayout title="Style Guide | Sections">
  <ComponentGallery modules={modules} extra={extra} />
  <Section>
    <h2 class="mb-8 text-center text-3xl font-bold">Calendrier Luma</h2>
    <div class="flex justify-center">
      <iframe
        src="https://lu.ma/embed/calendar/cal-Ocr3w6Nc4xGsrHH/events"
        width="100%"
        height="600"
        class="w-full max-w-5xl rounded-md border border-gray-300"
        allowfullscreen
        aria-hidden="false"
        tabindex="0"></iframe>
    </div>
  </Section>
</StyleGuideLayout>
