---
import { markdownify } from '@/utils/textConverter'
import { getEntry } from 'astro:content'

interface Section {
  title: string
  content: string
}

const aboutEntry = await getEntry('about', 'index')
if (!aboutEntry) {
  throw new Error('About entry not found! Check src/content/about/index.mdx')
}

const { credentials } = aboutEntry.data as { credentials: Section }
---

<div class="mx-auto max-w-2xl text-center">
  <h2 class="mb-4 text-3xl font-bold">{credentials.title}</h2>
  <div class="prose mx-auto" set:html={markdownify(credentials.content, true)} />
</div>
