---
export interface Props {
  variant?: 'info' | 'success' | 'warning' | 'error'
  title?: string
}
const { variant = 'info', title } = Astro.props as Props
const variants: Record<string, string> = {
  info: 'alert-info',
  success: 'alert-success',
  warning: 'alert-warning',
  error: 'alert-error',
}
const cls = `alert ${variants[variant]}`
---

<div role="status" aria-live="polite" class={cls}>
  {
    title && (
      <span class="font-bold" slot="title">
        {title}
      </span>
    )
  }
  <slot />
</div>
