@plugin "daisyui/theme" {
  name: 'douceurLight';
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* Palette OKLCH */
  --color-base-100: oklch(96.96% 0.01 60.5);
  --color-base-200: oklch(94% 0.01 60.5);
  --color-base-300: oklch(91% 0.01 60.5);
  --color-base-content: oklch(40.2% 0.03 252.1);
  --color-primary: oklch(67.76% 0.12 355.76);
  --color-primary-content: oklch(23.4% 0.04 355.7);
  --color-secondary: oklch(75.46% 0.08 221.25);
  --color-secondary-content: oklch(22.6% 0.03 221.2);
  --color-accent: oklch(87.89% 0.09 95.8);
  --color-accent-content: oklch(33.15% 0.04 95.8);
  --color-neutral: oklch(40.2% 0.03 252.1);
  --color-neutral-content: oklch(96.96% 0.01 60.5);
  --color-info: oklch(59.91% 0.17 262.7);
  --color-info-content: oklch(20% 0.06 262.7);
  --color-success: oklch(80.08% 0.17 148.2);
  --color-success-content: oklch(25% 0.07 148.2);
  --color-warning: oklch(80.4% 0.16 93);
  --color-warning-content: oklch(30% 0.08 93);
  --color-error: oklch(69.83% 0.19 22.5);
  --color-error-content: oklch(22% 0.09 22.5);

  /* Tokens personnalisés */
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'douceurDark';
  prefersdark: true;
  color-scheme: dark;

  /* Palette OKLCH - Version sombre */
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);

  /* Tokens personnalisés (identiques au thème clair) */
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
