--- 
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogCard from '@/components/BlogCard.astro';
import Pagination from '@/components/Pagination.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
const postsPerPage = 5;

export async function getStaticPaths({ paginate }) {
  return paginate(allPosts, { pageSize: postsPerPage });
}

const { page } = Astro.props;
---

<BaseLayout title={`Blog - Page ${page.currentPage}`}>
    <section class="section">
        <div class="container">
            <div class="row">
                {page.data.map(post => (
                    <div class="mb-14 md:col-6">
                        <BlogCard data={post} />
                    </div>
                ))}
            </div>
            <Pagination section="blog" currentPage={page.currentPage} totalPages={page.lastPage} />
        </div>
    </section>
</BaseLayout>
