--- 
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogCard from '@/components/BlogCard.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  const categories = [...new Set(blogEntries.flatMap(entry => entry.data.categories))];
  return categories.map(category => ({
    params: { category },
  }));
}

const { category } = Astro.params;
const blogEntries = await getCollection('blog', ({ data }) => data.categories.includes(category!));
---

<BaseLayout title={`Category: ${category}`}>
    <section class="section">
        <div class="container">
            <h1 class="h2 mb-8 text-center">
                Affichage des articles de la catégorie <span class="capitalize text-primary">{category}</span>
            </h1>
            <div class="row">
                {blogEntries.map(post => (
                    <div class="mb-14 md:col-6 lg:col-4">
                        <BlogCard data={post} />
                    </div>
                ))}
            </div>
        </div>
    </section>
</BaseLayout>
