---
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogCard from '@components/blog/BlogCard.astro'
import { getCollection } from 'astro:content'
import Section from '@components/ui/Section.astro'
import Container from '@components/ui/Container.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  const categories = [...new Set(blogEntries.flatMap(entry => entry.data.categories))]
  return categories.map(category => ({
    params: { category },
  }))
}

const { category } = Astro.params
const blogEntries = await getCollection('blog', ({ data }) => data.categories.includes(category!))
---

  <BaseLayout title={`Category: ${category}`}>
    <Section>
      <Container>
        <h1 class="h2 mb-8 text-center">
        Affichage des articles de la catégorie <span class="text-primary capitalize"
          >{category}</span
        >
      </h1>
        <div class="grid grid-cols-1 gap-y-14 md:grid-cols-2 md:gap-x-6 lg:grid-cols-3">
          {blogEntries.map(post => <BlogCard data={post} />)}
        </div>
      </Container>
    </Section>
  </BaseLayout>
