---
import BlogCard from '@/components/domain/blog/BlogCard.astro'

interface Props {
  posts: any[]
}

const { posts } = Astro.props as Props
const bases = [100, 200, 300] as const
---

<div class="grid w-full grid-cols-3 gap-4">
  {posts.map((post, idx) => <BlogCard data={post} base={bases[idx] ?? 100} />)}
</div>
