---
// src/pages/elements.astro
// cette page servira à tester tous les components
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogCard from '@/components/organisms/BlogCard.astro'
import Pagination from '@/components/molecules/Pagination.astro'
import TestimonialSection from '@/components/sections/TestimonialSection.astro'
import Footer from '@/components/layout/SiteFooter.astro';
import config from '@/config/siteConfig.ts'
import { getSinglePage } from '@/utils/contentParser.astro'
import { getAllTaxonomy, getTaxonomy } from '@/utils/taxonomyParser.astro'
import { sortByDate } from '@/utils/sortFunctions'
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import Hero from '@/components/sections/HeroSection.astro'

const BLOG_FOLDER = 'blog'
const postIndex = (await getEntry(BLOG_FOLDER, '-index')) as CollectionEntry<'blog'>
const posts = await getSinglePage(BLOG_FOLDER)
const allCategories = await getAllTaxonomy(BLOG_FOLDER, 'categories')
const categories = await getTaxonomy(BLOG_FOLDER, 'categories')
const tags = await getTaxonomy(BLOG_FOLDER, 'tags')
const sortedPosts = sortByDate(posts)
const totalPages: number = Math.ceil(posts.length / config.settings.pagination)
const currentPosts = sortedPosts.slice(0, config.settings.pagination)
const currentPage = 1 // Pour l'exemple, on peut aussi récupérer depuis l'URL

const testimonial = (await getEntry(
  'testimonialSection',
  'testimonial'
)) as CollectionEntry<'testimonialSection'>
---

<BaseLayout title="elements">
  <!-- Section Hero -->

  <section class="border-primary mt-16 mb-12 rounded-lg border-2 p-8">
    <h2 class="mb-8 text-center text-3xl font-bold">Hero Section</h2>
    <!-- TODO:  Tester de mettre un wrapper  sur le Hero directement -->
    <Hero />
  </section>

  <!-- Section Blog Cards -->
  <section class="border-primary mt-16 mb-12 border border-dotted">
    <h2 class="mb-8 text-center text-3xl font-bold">Les cartes de blog</h2>
    <div class="mb-8 grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-6 xl:grid-cols-3">
      {
        currentPosts.map(post => (
          <div class="w-full">
            <BlogCard data={post} />
          </div>
        ))
      }
    </div>
  </section>
  <!-- Section Testimonial -->
  <section class="border-primary mt-16 mb-12 border border-dotted">
    <h2 class="mb-8 text-center text-3xl font-bold">Section Témoignages</h2>
    <div class="flex justify-center">
      <TestimonialSection testimonial={testimonial} />
    </div>
  </section>

  <!-- Section Pagination -->
  <section class="border-primary mt-16 mb-12 border border-dotted">
    <h2 class="mb-8 text-center text-3xl font-bold">La Pagination</h2>
    <div class="flex justify-center">
      <Pagination section="blog" totalPages={Math.max(totalPages, 5)} currentPage={currentPage} />
    </div>
  </section>

  <!-- section Footer -->
  <section class="border-primary mt-16 mb-12 border border-dotted">
    <h2 class="mb-8 text-center text-3xl font-bold">Footer</h2>
    <Footer />
  </section>
</BaseLayout>
