---
import { getEntry } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

import BaseLayout from '@/layouts/BaseLayout.astro'
import Hero from '@/components/sections/HeroSection.astro'
import Testimonial from '@/components/sections/TestimonialSection.astro'
import Section from '@/components/atoms/Section.astro'


const testimonial = (await getEntry(
  'testimonialSection',
  'testimonial'
)) as CollectionEntry<'testimonialSection'>
---

<BaseLayout title="Accueil – Mon Site">
  <!-- Hero utilise le slot hero pour être full-width -->
  <Hero slot="hero" />

  <Section>
    <Testimonial testimonial={testimonial} />
  </Section>
  <Section>
    <Testimonial testimonial={testimonial} />
  </Section>
  <!-- Autres sections peuvent être ajoutées ici -->
  <!-- Elles seront automatiquement centrées dans le container -->
</BaseLayout>
