---
import BaseLayout from '@/layouts/Base.astro'
import Hero from '@/domain/shared/sections/HeroSection.astro'
import FluidCursor from '@/ui/atoms/FluidCursor.astro'
import FeaturedPostsSection from '@/domain/shared/sections/FeaturedPostsSection.astro'

---

<BaseLayout title="Accueil – Mon Site">
  <!-- Overlay fluide (home uniquement) -->
  <FluidCursor container="#hero-container" scoped slot="hero" />

  <!-- Hero utilise le slot hero pour être full-width -->
  <Hero slot="hero" />

  <!-- Section articles vedette -->
  <FeaturedPostsSection />

  <!-- <Section> -->
  <!--   <Testimonial testimonial={testimonial} /> -->
  <!-- </Section> -->
  <!-- <Section> -->
  <!--   <Testimonial testimonial={testimonial} /> -->
  <!-- </Section> -->
  <!-- Autres sections peuvent être ajoutées ici -->
  <!-- Elles seront automatiquement centrées dans le container -->
</BaseLayout>
