---
import BaseLayout from '@/layouts/Base.astro'
import Hero from '@/domain/shared/sections/HeroSection.astro'
import FluidCursor from '@/ui/atoms/FluidCursor.astro'
import { getEntry } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

---

<BaseLayout title="Accueil – Mon Site">
  <!-- Overlay fluide (home uniquement) -->
  <FluidCursor slot="hero" />

  <!-- Hero utilise le slot hero pour être full-width -->
  <Hero slot="hero" />
  <!-- <Section> -->
  <!--   <Testimonial testimonial={testimonial} /> -->
  <!-- </Section> -->
  <!-- <Section> -->
  <!--   <Testimonial testimonial={testimonial} /> -->
  <!-- </Section> -->
  <!-- Autres sections peuvent être ajoutées ici -->
  <!-- Elles seront automatiquement centrées dans le container -->
</BaseLayout>
