---
import BlogCard from '@/components/organisms/BlogCard.astro'

interface Props {
  posts: Array<Record<string, unknown>>
}

const { posts } = Astro.props satisfies Props
const bases = [100, 200, 300] as const
---
<div class="grid w-full grid-cols-3 gap-4">
  {posts.map((post, idx) => (
    <BlogCard data={post} base={bases[idx] ?? 100} />
  ))}
</div>
