---
// src/components/molecules/Pagination.astro
import PaginationItem from '@/components/atoms/PaginationItem.astro'
import ChevronLeftIcon from '@/components/atoms/icons/ChevronLeftIcon.astro'
import ChevronRightIcon from '@/components/atoms/icons/ChevronRightIcon.astro'
import { getPageList, getPrevHref, getNextHref, getPageHref } from '@/utils/pagination'

interface Props {
  section?: string
  currentPage?: number
  totalPages?: number
}

const { section, currentPage = 1, totalPages = 1 }: Props = Astro.props

const pageList = getPageList(totalPages)
const prevHref = getPrevHref(section, currentPage)
const nextHref = getNextHref(section, currentPage, totalPages)
---

<div class="join" role="navigation" aria-label="Pagination">
  <PaginationItem {...prevHref ? { href: prevHref } : { disabled: true }} label="Page précédente">
    <ChevronLeftIcon />
  </PaginationItem>

  {
    pageList.map(page => (
      <PaginationItem
        page={page}
        label={`Page ${page}`}
        current={page === currentPage}
        href={page === currentPage ? undefined : getPageHref(section, page)}
      />
    ))
  }

  <PaginationItem {...nextHref ? { href: nextHref } : { disabled: true }} label="Page suivante">
    <ChevronRightIcon />
  </PaginationItem>
</div>
