---
import config from "@/config/siteConfig.ts";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { FaRegFolder, FaRegUserCircle } from "react-icons/fa";
import ImageMod from "./ImageMod.astro";

const {
  summary_length,
  blog_folder,
}: { summary_length: number; blog_folder: string } = config.settings;

const { data } = Astro.props;

// Vérification que data existe et qu'il contient bien une propriété data
if (!data || !data.data) {
  throw new Error("BlogCard: Les données du blog sont manquantes. Vérifiez que vous passez bien une prop 'data' au composant.");
}

const { title, image, date, author, categories } = data.data;
---

<!-- TODO: ajouter du contenu ici -->
<!-- FIX: corriger la structure -->
<div class="card bg-base-100 w-96 shadow-sm">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Card Title</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>
