---
export interface Props {
  title: string
  open?: boolean
  className?: string
}
const { title, open = false, className = '' } = Astro.props as Props
---

<div class={`collapse collapse-arrow ${className}`}>
  <input type="checkbox" {...open ? { checked: true } : {}} />
  <div class="collapse-title text-left">{title}</div>
  <div class="collapse-content">
    <slot />
  </div>
</div>
